header {
    background-color: rgb(216, 119, 184);
    margin: 0px;
    border: 0px;
}

body {
    background-color: rgb(81, 228, 100);
}

h1 {
    color: rgb(87, 87, 87);
    text-align: center;
}

#map {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    display: block;
    border-style: none;
}

img {
	max-width: 15%;
}
