header {
    background-color: mediumpurple;
    margin: 0px;
    border: 0px;
}

body {
    background-color: #ccccff;
}

h1 {
    text-align: center;
}

#map {
    width: 500px;
	max-width: 90%;
    height: 400px;
    margin: 0 auto;
    display: block;
    border-style: none;
}

img {
	max-width: 15%;
}
